<!DOCTYPE html>
<html ng-app="ABSA_Assessment" ng-controller="ClientController">
<head>
    <title ng-bind="models.apptitle"></title>
</head>
<body>
    <h1>{{models.apptitle}}</h1>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ABSA_Assessment")
</body>
</html>